/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2018, 7:24:13 AM
    Author     : viquy
*/
#choose:HOVER {
    background: #00FFFF;
    text-decoration: underline;
}

#choose {
    padding-top: 3px;
}

#nochoose {
    padding-top: 3px;
}

#nochoose:HOVER {
    background: gray;
    text-decoration: none;
}

#tableBGcolor {
    width: 99%;
    height: 100%;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,
        startColorStr=#15A216, endColorStr=#fafafa); 
    background: -moz-linear-gradient(top, #15A216, #fafafa); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF),
        to(#000079)); 
    background-image: -webkit-gradient(linear, left bottom, left top, color-start(0, #15A216),
        color-stop(1, #fafafa)); 
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
        startColorstr='#15A216', endColorstr='#fafafa');
    -ms-filter:
        "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#15A216', endColorstr='#fafafa')";
    /* IE8 */
}

#nav td {
    text-align: center;
    margin-top: 2px;
    border: 1px black;
    border-style: dotted dashed;
    margin-top: 5px;
}
