/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2018, 7:21:20 AM
    Author     : viquy
*/
.font1 {
    font-size: 13px;
}

#table1 {
    margin-right: 40px;
}

